@using Grand.Core.Infrastructure
@using Grand.Services.Helpers
@{
    var dateTimeHelper = EngineContext.Current.Resolve<IDateTimeHelper>();
}
<div class="forums-header generalMarginSupporter">
        <div class="row d-flex justify-content-end">
            <div class="col-12 col-md-6 current-time">
                @dateTimeHelper.ConvertToUserTime(DateTime.UtcNow).ToString("F")
            </div>
            <div class="col-12 col-md-6 ml-auto text-sm-right">
                <partial name="_SearchBox"/>
            </div>
        </div>
</div>