@model ActiveDiscussionsModel
@using Grand.Web.Models.Boards;
@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_ColumnsOne";

    pagebuilder.AddTitleParts(T("Forum.PageTitle.ActiveDiscussions").Text);
}
<div class="page active-discussions-page">
    @await Component.InvokeAsync("ForumBreadcrumb")
    <partial name="_ForumHeader" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_activediscussions_after_header" })
    <partial name="_ActiveTopics" model="Model" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_activediscussions_after_topics" })


</div>
