@model ForumGroupModel
@using Grand.Web.Models.Boards;
@{
    Layout = "_ColumnsOne";

    Html.AddTitleParts(Model.Name);
}
<div class="page forum-group-page">
    @await Component.InvokeAsync("ForumBreadcrumb", new { forumGroupId = Model.Id })
    <partial name="_ForumHeader" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_forumgroup_after_header" })
    <partial name="_ForumGroup" model="Model"/>
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_forumgroup_bottom" })
</div>
