@model EditForumTopicModel
@using Grand.Web.Models.Boards;
@{    
    Layout = "_ColumnsOne";

    Html.AddTitleParts(T("Forum.PageTitle.TopicNew").Text);    
}
<form asp-route="TopicCreate" method="post">
    <partial name="_CreateUpdateTopic" model="Model" />
</form>
