<div class="search-box forum-search-box">
    @using (Html.BeginRouteForm("Search", FormMethod.Get))
    {
        <div class="basic">
            <input type="text" class="search-box-text" id="forums-small-searchterms" name="searchterms" placeholder="@T("Forum.SearchForumsTooltip")" />
            <button type="submit" value="@T("Forum.SearchButton")" class="btn waves-effect waves-light">
                <i class="material-icons left">search</i>
                @T("Forum.SearchButton")
            </button>
        </div>
        <div class="advanced">
            @Html.RouteLink(T("Forum.AdvancedSearch").Text, "Search", new { adv = true }, new { title = T("Forum.AdvancedSearch").Text })
        </div>
    }
</div>