@model ProductDetailsModel.AddToCartModel
@if (!Model.DisableWishlistButton)
{
    var addToWishlistText = "";
    if (!String.IsNullOrEmpty(Model.UpdatedShoppingCartItemId) && Model.UpdateShoppingCartItemType.HasValue && Model.UpdateShoppingCartItemType.Value == ShoppingCartType.Wishlist)
    {
        addToWishlistText = T("ShoppingCart.AddToWishlist.Update").Text;
    }
    else
    {
        addToWishlistText = T("ShoppingCart.AddToWishlist").Text;
    }

    <button id="add-to-wishlist-button-@Model.ProductId" class="btn btn-outline-secondary add-to-wishlist-button mr-1" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;" data-toggle="tooltip" data-placement="bottom" title="@addToWishlistText">
        <span class="sr-only">@addToWishlistText</span>
        <span class="mdi mdi-heart-outline mr-0"></span>
    </button>
}
