@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <button class="btn btn-secondary add-to-compare-list-button mr-1" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" data-toggle="tooltip" data-placement="bottom" title="@T("Products.Compare.AddToCompareList")">
        <i class="fa fa-retweet mr-0"></i><span class="d-none"> @T("Products.Compare.AddToCompareList")</span>
        <span class="sr-only">@T("Products.Compare.AddToCompareList")</span>
    </button>
}
