@model IList<ProductTagModel>
@if (Model.Any())
{
    <div class="col-sm-12 product-tags-box px-0">
        <div class="title d-lg-none">
            <strong>@T("Products.Tags")</strong>
        </div>
        <div class="product-tags-list">
                @for (int i = 0; i < Model.Count; i++)
                {
                        <a class="ml-0 btn btn-secondary producttag" href="@Url.RouteUrl("ProductsByTag", new { productTagId = Model[i].Id, SeName = Model[i].SeName })">
                            @Model[i].Name <span>@T("Products.Tags.Count", Model[i].ProductCount)</span></a> 
                }
        </div>
    </div>
}