@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
}
@using Grand.Web.Models.Catalog;
<div class="page recently-viewed-products-page">
        <h2 class="generalTitle">@T("Products.RecentlyViewedProducts")</h2>
        @if (Model.Any())
        {
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-lg-4 col-sm-6 col-6 product-container">
                        <partial name="_ProductBox" model="product" />
                    </div>
                }
            </div>
        }
    </div>