@model IList<ProductOverviewModel>
@if (Model.Any())
{
    <div class="product-grid suggested-product-grid pt-2">
        <h2 class="generalTitle text-sm-center">
            @T("HomePage.Suggested.Products")
        </h2>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 col-6 product-container">
                        <partial name="_ProductBox" model="item" />
                    </div>
                }
            </div>
    </div>
}