@model CustomerAddressModel
<div asp-validation-summary="All"></div>
<input type="hidden" asp-for="CustomerId" />
<vc:admin-widget widget-zone="customer_address_details_top" additional-data="Model" />
<admin-input asp-for="Address" asp-template="Address" />
<vc:admin-widget widget-zone="customer_address_details_bottom" additional-data="Model" />