@model ManufacturerModel
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = seoSettings.CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var manufacturerUrl = Url.RouteUrl("Manufacturer", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(manufacturerUrl);
    }
}

<div class="page manufacturer-page">
    <div class="col-12">
        <h2 class="generalTitle">@Model.Name</h2>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "manufacturerdetails_top", additionalData = Model.Id })
    @*description*@
    @if (!String.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="manufacturer-description">
            @Html.Raw(Model.Description)
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "manufacturerdetails_before_featured_products", additionalData = Model.Id })
    @*featured products*@
    @if (Model.FeaturedProducts.Count > 0)
    {
        <div class="col-12 px-0 product-grid featured-product-grid">
            <h2 class="h5">
                <strong>@T("Products.FeaturedProducts")</strong>
            </h2>
            <div class="row">
                @foreach (var product in Model.FeaturedProducts)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        @await Html.PartialAsync("_ProductBox", product)
                    </div>
                }
            </div>
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "manufacturerdetails_after_featured_products", additionalData = Model.Id })
    @if (Model.Products.Count > 0)
    {
        @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "manufacturerdetails_before_filters", additionalData = Model.Id })
    @*filtering*@
    @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
    {
        @await Html.PartialAsync("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter)
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "manufacturerdetails_before_product_list", additionalData = Model.Id })
    @if (Model.Products.Count > 0)
            {
                if (Model.PagingFilteringContext.ViewMode == "grid")
                {
            <div class="manufactureGrid">
                <div class="row flex-grid">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-4 col-sm-6 col-12">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-12">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        @await Html.PartialAsync("_ProductBoxList", product)
                    }
                </div>
            </div>
        }
    }

    @{
        var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
    }
    @if (!pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "manufacturerdetails_bottom", additionalData = Model.Id })

</div>



