@model GeneralCommonSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="note note-info">
                If you are using GrandNode on Linux, additional configuration is required to export PDF files and use the WKHTMLTOPDF library. <a href="https://docs.grandnode.com/how-to-make-wkhtmltopdf-working-on-linux" target="_blank">Check the documentation</a> for more details.
            </div>
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.LogoPictureId_OverrideForStore, "pdf-logo-picture", Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.LogoPictureId" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8" id="pdf-logo-picture">
                <admin-input asp-for="PdfSettings.LogoPictureId" />
                <span asp-validation-for="PdfSettings.LogoPictureId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.DisablePdfInvoicesForPendingOrders_OverrideForStore, model => model.PdfSettings.DisablePdfInvoicesForPendingOrders, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.DisablePdfInvoicesForPendingOrders" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="PdfSettings.DisablePdfInvoicesForPendingOrders" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="PdfSettings.DisablePdfInvoicesForPendingOrders"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.InvoiceHeaderText_OverrideForStore, model => model.PdfSettings.InvoiceHeaderText, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.InvoiceHeaderText" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <admin-textarea asp-for="PdfSettings.InvoiceHeaderText"></admin-textarea>
                <span asp-validation-for="PdfSettings.InvoiceHeaderText"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.InvoiceFooterText_OverrideForStore, model => model.PdfSettings.InvoiceFooterText, Model.ActiveStoreScopeConfiguration)
                <admin-label asp-for="PdfSettings.InvoiceFooterText" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <admin-textarea asp-for="PdfSettings.InvoiceFooterText"></admin-textarea>
                <span asp-validation-for="PdfSettings.InvoiceFooterText"></span>
            </div>
        </div>
    </div>
</div>