@model GeneralCommonSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="LocalizationSettings.UseImagesForLanguageSelection" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="LocalizationSettings.UseImagesForLanguageSelection" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="LocalizationSettings.UseImagesForLanguageSelection"></span>
            </div>
        </div>        
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="LocalizationSettings.AutomaticallyDetectLanguage" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="LocalizationSettings.AutomaticallyDetectLanguage" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="LocalizationSettings.AutomaticallyDetectLanguage"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="LocalizationSettings.LoadAllLocaleRecordsOnStartup" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="LocalizationSettings.LoadAllLocaleRecordsOnStartup" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="LocalizationSettings.LoadAllLocaleRecordsOnStartup"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="LocalizationSettings.LoadAllLocalizedPropertiesOnStartup" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="LocalizationSettings.LoadAllLocalizedPropertiesOnStartup" />
                     <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="LocalizationSettings.LoadAllLocalizedPropertiesOnStartup"></span>
            </div>
        </div>
    </div>
</div>