@model AccountActivationModel
@using Grand.Web.Models.Customer;
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
}
<div class="page account-activation-page">
    <h1 class="h2 generalTitle">@T("Account.AccountActivation")</h1>
    <div class="result">
        @Model.Result
    </div>
</div>
