@model CustomerAddressEditModel
@using Grand.Web.Models.Customer;
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}

<form asp-route="CustomerAddressEdit" method="post">
    <div class="page account-page address-edit-page pl-lg-3 mb-3">
            <h1 class="h2 generalTitle">@T("Account.CustomerAddresses.Edit")</h1>
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            @{
                var dataDictAddress = new ViewDataDictionary(ViewData);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                <partial name="_CreateOrUpdateAddress" model="Model.Address" view-data="dataDictAddress" />
            }
            <div class="buttons generalMarginSupporter">
                <input type="submit" class="btn btn-info save-address-button" value="@T("Common.Save")" />
            </div>
    </div>
</form>