@model MessageTemplateModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<vc:admin-widget widget-zone="message_template_details_top" additional-data="Model" />

<admin-tabstrip name="template-edit">
    <items>
        <tabstrip-item text="@T("Admin.ContentManagement.MessageTemplates.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.MessageTemplates.Stores")" tab-index="1">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="messagetemplate_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
<vc:admin-widget widget-zone="message_template_details_bottom" additional-data="Model" />
