@model WarehouseModel
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input id="active-menu-item" type="hidden" value="/@Constants.AreaAdmin/Shipping/Warehouses" />
<div class="form-horizontal">
    <vc:admin-widget widget-zone="warehouse_details_top" additional-data="Model" />
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="AdminComment" />
            <div class="col-md-9 col-sm-9">
                <admin-textarea asp-for="AdminComment"></admin-textarea>
                <span asp-validation-for="AdminComment"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Latitude" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Latitude" />
                <span asp-validation-for="Latitude"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Longitude" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Longitude" />
                <span asp-validation-for="Longitude"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-input asp-for="Address" asp-template="Address" />
        </div>
        <div class="form-group">
            <admin-label asp-for="DisplayOrder" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </div>
    <vc:admin-widget widget-zone="warehouse_details_bottom" additional-data="Model" />
</div>
