@{
    Layout = "_ColumnsOne";
}
@model Grand.Plugin.ExternalAuth.Google.Models.FailedModel
<div class="page facebook-login">
    <div class="page-title">
        <h1>@T("Plugins.ExternalAuth.Google.Failed")</h1>
    </div>
    <div class="page-body">
        <div class="alert alert-danger">
            @T("Plugins.ExternalAuth.Google.Failed.ErrorMessage"): @Model.ErrorMessage
        </div>
    </div>
</div>
