<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    @T("Admin.AccessDenied.Title")
                </div>
            </div>
            <div class="portlet-body form">
                <div class="note note-warning">
                    @T("Admin.AccessDenied.Description")
                </div>
            </div>
        </div>
    </div>
</div>