@model ProductTagModel
@inject IEventPublisher eventPublisher
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<vc:admin-widget widget-zone="product_details_tag_top" additional-data="Model" />

<admin-tabstrip name="tag-edit">
    <items>
        <tabstrip-item text="@T("Admin.Catalog.ProductTags.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Catalog.ProductTags.Products")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabProducts" model="Model" />
                </div>
            </content>
        </tabstrip-item>
    </items>
</admin-tabstrip>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "tag-edit");
    await eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        <admin-tab-append tab-strip-name="tag-edit" tab-name="@eventBlock.tabname" tab-content="@eventBlock.content" />
    }
}

<vc:admin-widget widget-zone="product_details_tag_bottom" additional-data="Model" />