@model IList<PollModel>
@if (Model.Any())
{
    <div class="col-12 home-page-polls">
            <h2 class="generalTitle text-center">@T("Polls.Title")</h2>
            @foreach (var poll in Model)
            {
               <partial name="_Poll" model="poll" />
            }
    </div>
}
