@model OrderModel.UploadLicenseModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Orders.Products.License.UploadFile").Text;
}
<form asp-area="Admin" asp-controller="Order" asp-action="UploadLicenseFilePopup" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.Orders.Products.License.UploadFile")
                    </div>
                </div>
                <div class="x_content form">
                    <input type="submit" name="uploadlicense" value="@T("Admin.Common.Save")" id="uploadlicense" class="btn green" />
                    @if (!String.IsNullOrEmpty(Model.LicenseDownloadId))
                    {
                        <input type="submit" name="deletelicense" value="@T("Admin.Common.Delete")" id="deletelicense" class="btn red" />
                    }
                </div>
                <vc:admin-widget widget-zone="order_upload_license_buttons" additional-data="null" />
            </div>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    @if (ViewBag.RefreshPage == true)
    {
        <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
        </script>
    }

    <input asp-for="OrderId" type="hidden" />
    <input asp-for="OrderItemId" type="hidden" />
    <admin-input asp-for="LicenseDownloadId" />
</form>
