@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_ColumnsOne";

    //title
    pagebuilder.AddTitleParts(T("PageTitle.PageNotFound").Text);
}
<div class="page text-xs-center not-found-page">
    <h2 class="text-xs-center generalTitle">@T("PageTitle.PageNotFound")</h2>
    @await Component.InvokeAsync("TopicBlock", new { systemName = "PageNotFound" })
</div>