@model String
<div class="mt-5">
<textarea id="@Html.IdForModel()" name="@Html.NameForModel()">@Model</textarea>
</div>
<script>
    $(document).ready(function () {
        var editor = CodeMirror.fromTextArea(document.getElementById('@Html.IdForModel()'), {
            mode: "xml",
            lineNumbers: true
        });
    });
</script>

