@media all and (max-width:991px){
    .container {
        width: 720px;
        max-width: 100%;
    }
 .newsletter-subscribe-text{
     max-width: 150px;
    }
 .dateHelper{
    display: block;
    margin-bottom: 10px;
    }
}
.dateHelper{
    max-width: 260px;
}

@media all and (max-width:991px){
    .container {
        width: 720px;
        max-width: 100%;
    }
 .newsletter-subscribe-text{
     max-width: 150px;
    }
 .dateHelper{
    display: block;
    margin-bottom: 10px;
    }
}
.dateHelper{
    max-width: 260px;
}
.wishlist-content .remove-from-cart fieldset{
    min-width: 20px;
}
.wishlist-content .remove-from-cart fieldset label {
    display: inline-block;
    min-width: 10px;
    z-index: 999;
    margin-right: 5px;
}
.wishlist-content .remove-from-cart fieldset label span:last-of-type{
    float: right;
}
.wishlist-content .remove-from-cart {
    min-width: 25px;
    max-width: 15px;
}