@model CustomerRoleModel
@inject Grand.Services.Security.IPermissionService permissionService
@{ 
    var access = await permissionService.Authorize(Grand.Services.Security.StandardPermissionProvider.ManageAcl);
}
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<vc:admin-widget widget-zone="customer_role_details_top" additional-data="Model" />
<admin-tabstrip name="customerrole-edit">
    <items>
        <tabstrip-item text="@T("Admin.Customers.CustomerRoles.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Customers.CustomerRoles.Products")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabProducts" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        @if (access)
        {
            <tabstrip-item text="@T("Admin.Customers.CustomerRoles.Acl")" tab-index="2">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabAcl" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
        }
        <tabstrip-item text="@T("Admin.Common.GenericAttributes.Tab")" tab-index="3">
            <content>
                <div>
                    @{
                        ViewData["ObjectType"] = "CustomerRole";
                        ViewData["TabIndex"] = 3;
                    }
                    <partial name="_GenericAttributes" model="Model" view-data="ViewData" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="customerrole_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
<vc:admin-widget widget-zone="customer_role_details_bottom" additional-data="Model" />
