@model CustomerRoleModel
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="SystemName" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="SystemName" />
                <span asp-validation-for="SystemName"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="FreeShipping" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="FreeShipping" />
                    <span></span>
                </label>
                <span asp-validation-for="FreeShipping"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="TaxExempt" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="TaxExempt" />
                    <span></span>
                </label>
                <span asp-validation-for="TaxExempt"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Active" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="Active" />
                    <span></span>
                </label>
                <span asp-validation-for="Active"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="EnablePasswordLifetime" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="EnablePasswordLifetime" />
                    <span></span>
                </label>
                <span asp-validation-for="EnablePasswordLifetime"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="IsSystemRole" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label"> @Model.IsSystemRole.ToString()</label>
                <input asp-for="IsSystemRole" type="hidden" />
                <span asp-validation-for="IsSystemRole"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="PurchasedWithProductId" />
            <div class="col-md-9 col-sm-9">
                <input asp-for="PurchasedWithProductId" type="hidden" />
                <span id="purchased-with-product-name">@Model.PurchasedWithProductName</span>
                <span asp-validation-for="PurchasedWithProductId"></span>
                <input type="submit" value=@T("Admin.Customers.CustomerRoles.Fields.PurchasedWithProduct.Choose") onclick="javascript:OpenWindow('@(Url.Action("AssociateProductToCustomerRolePopup", "CustomerRole", new { productIdInput = Html.FieldIdFor(model => model.PurchasedWithProductId), productNameInput = "purchased-with-product-name", btnId = "btnRefreshPurchasedWithProduct" }))', 800, 800, true); return false;" class="btn default" />
                <input type="submit" id="purchased-with-product-name-remove" value=@T("Admin.Customers.CustomerRoles.Fields.PurchasedWithProduct.Remove") class="btn default" />
                <input type="submit" id="btnRefreshPurchasedWithProduct" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#purchased-with-product-name-remove').click(function () {
                            $('#purchased-with-product-name').text('');
                            $("#@Html.FieldIdFor(model => model.PurchasedWithProductId)").val(0);
                            toggleRemoveButton();
                            //return false to don't reload a page
                            return false;
                        });

                        $('#btnRefreshPurchasedWithProduct').click(function () {
                            toggleRemoveButton();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>

            </div>
        </div>
    </div>
</div>