@model CategoryNavigationModel
@if (Model.Categories.Any())
{
    <div id="block-category-navigation" class="col-sm--12 block block-category-navigation d-none d-lg-block">
            <h2 class="h5 generalTitle"><strong>@T("Categories")</strong></h2>
            <div class="viewBox listbox">
                <ul class="list">
                    @foreach (var category in Model.Categories)
                    {
                        var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                        {
                            CurrentCategoryId = Model.CurrentCategoryId,
                            Category = category
                        };
                        <partial name="_CategoryLine.Navigation" model="categoryLineModel" />
                    }
                </ul>
            </div>
    </div>
}
