@using Grand.Framework.UI
@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/ExternalAuth.Facebook/Content/facebookstyles.css");
}
<div class="facebook-login-block">
    <div class="buttons">
        <a href="@Url.Action("Login", "FacebookAuthentication", new { ReturnUrl = Context.Request.Query["ReturnUrl"].ToString()})" class="facebook-btn"></a>
    </div>
</div>
