@{
    Layout = "_ColumnsOne";
}
@model string

<div class="form-horizontal">
    <div class="form-body">
        <div class="note note-info">
            <p>
                @Model
            </p>
        </div>
    </div>
</div>