@model PollModel
<div class="block block-poll">
    <h5 class="h5 d-block">
        <strong>@T("Polls.Title")</strong>
    </h5>
    <div class="listbox">
        <partial name="_Poll" model="Model" />
    </div>
</div>
