@model EmailAccountModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
                <admin-label asp-for="Email" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
                <admin-label asp-for="DisplayName" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayName" />
                <span asp-validation-for="DisplayName"></span>
            </div>
        </div>
        <div class="form-group">
                <admin-label asp-for="Host" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Host" />
                <span asp-validation-for="Host"></span>
            </div>
        </div>
        <div class="form-group">
                <admin-label asp-for="Port" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Port" />
                <span asp-validation-for="Port"></span>
            </div>
        </div>
        <div class="form-group">
                <admin-label asp-for="Username" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
        </div>
        <div class="form-group">
                <admin-label asp-for="Password" />
            <div class="col-md-9 col-sm-9">
                @Html.PasswordFor(model => model.Password)
                <span asp-validation-for="Password"></span>
                @if (!String.IsNullOrEmpty(Model.Id))
                {
                    <input type="submit" name="changepassword" class="btn default" value="@T("Admin.Configuration.EmailAccounts.Fields.Password.Change")" />
                }
            </div>
        </div>
        <div class="form-group">
                <admin-label asp-for="EnableSsl" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="EnableSsl" />
                    <span></span>
                </label>
                <span asp-validation-for="EnableSsl"></span>
            </div>
        </div>
        <div class="form-group">
                <admin-label asp-for="UseDefaultCredentials" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="UseDefaultCredentials" />
                    <span></span>
                </label>
                <span asp-validation-for="UseDefaultCredentials"></span>
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.Id))
        {
            <div class="form-group">
                    <div class="note note-info">
                        @T("Admin.Configuration.EmailAccounts.SendTestEmail")
                    </div>
            </div>
            <div class="form-group">
                    <admin-label asp-for="SendTestEmailTo" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="SendTestEmailTo" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-md-offset-3">
                    <input type="submit" name="sendtestemail" class="btn default" value="@T("Admin.Configuration.EmailAccounts.SendTestEmail.Button")" />
                </div>
            </div>
        }
    </div>
</div>
