@model IList<ProductOverviewModel>
@if (Model.Any())
{    
    <div class="home-page-product-grid generalMarginSupporter">
        <h2 class="generalTitle text-center">@T("HomePage.Products")</h2>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-6 product-container">
                        <partial name="_ProductBox" model="item" />
                    </div>
                }
            </div>

    </div>

}   