@model PollModel
<div class="block block-poll">
    <div class="title">
        <strong>@T("Polls.Title")</strong>
    </div>
    <div class="listbox">
        <partial name="_Poll" model="Model" />
    </div>
</div>
