@model CheckoutPaymentInfoModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page payment-info-page">
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Payment })
        <h2 class="generalTitle text-sm-center ">@T("Checkout.PaymentInfo")</h2>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_payment_info_top" })
        <div class="payment-info">
            <form asp-route="CheckoutPaymentInfo" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="info">
                    @await Component.InvokeAsync(Model.PaymentViewComponentName)
                </div>
                <div class="buttons pt-2 pb-2">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="btn btn-info payment-info-next-step-button" />
                </div>
            </form>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_payment_info_bottom" })
        <div class="order-summary">
                <h5 class="generalTitle"><strong>@T("Checkout.OrderSummary")</strong></h5>
            @await Component.InvokeAsync("OrderSummary")
        </div>
    </div>