@model CampaignModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Subject" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Subject" />
                <span asp-validation-for="Subject"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Body" />
            <div class="col-md-9 col-sm-9">
                @{
                    ViewData["Grand.RichEditor.EnableFullPage"] = true;
                }
                <admin-input asp-for="Body" asp-template="RichEditor" />
                <span asp-validation-for="Body"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="EmailAccountId" />
            <div class="col-md-9 col-sm-9">
                <admin-select asp-for="EmailAccountId" asp-items="@(new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName"))" />
                <span asp-validation-for="EmailAccountId"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="AllowedTokens" />
            <div class="col-md-9 col-sm-9">
                @Model.AllowedTokens
            </div>
        </div>
    </div>
</div>
