@model CampaignModel

<div class="col-md-12">
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <admin-label asp-for="CustomerCreatedDateFrom" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="CustomerCreatedDateFrom" />
                    <text>@T("Admin.Promotions.Campaigns.Fields.CustomerCreatedDateTo")</text>
                    <admin-input asp-for="CustomerCreatedDateTo" />
                    <span asp-validation-for="CustomerCreatedDateFrom"></span>
                    <span asp-validation-for="CustomerCreatedDateTo"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="CustomerLastActivityDateFrom" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="CustomerLastActivityDateFrom" />
                    <text>@T("Admin.Promotions.Campaigns.Fields.CustomerLastActivityDateTo")</text>
                    <admin-input asp-for="CustomerLastActivityDateTo" />
                    <span asp-validation-for="CustomerLastActivityDateFrom"></span>
                    <span asp-validation-for="CustomerLastActivityDateTo"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="CustomerLastPurchaseDateFrom" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="CustomerLastPurchaseDateFrom" />
                    <text>@T("Admin.Promotions.Campaigns.Fields.CustomerLastPurchaseDateTo")</text>
                    <admin-input asp-for="CustomerLastPurchaseDateTo" />
                    <span asp-validation-for="CustomerLastPurchaseDateFrom"></span>
                    <span asp-validation-for="CustomerLastPurchaseDateTo"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="CustomerHasOrders" />
                <div class="col-md-9 col-sm-9">
                    <admin-select asp-for="CustomerHasOrders" asp-items="((Grand.Core.Domain.Messages.CampaignCondition)Model.CustomerHasOrders).ToSelectList()" />
                    <span asp-validation-for="CustomerHasOrders"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="CustomerHasShoppingCart" />
                <div class="col-md-9 col-sm-9">
                    <admin-select asp-for="CustomerHasShoppingCart" asp-items="((Grand.Core.Domain.Messages.CampaignCondition)Model.CustomerHasShoppingCart).ToSelectList()" />
                    <span asp-validation-for="CustomerHasShoppingCart"></span>
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="CustomerTags" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="CustomerTags" asp-template="MultiSelect" asp-selectitem="Model.AvailableCustomerTags" />
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="CustomerRoles" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="CustomerRoles" asp-template="MultiSelect" asp-selectitem="Model.AvailableCustomerRoles" />
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="NewsletterCategories" />
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="NewsletterCategories" asp-template="MultiSelect" asp-selectitem="Model.AvailableNewsletterCategories" />
                </div>
            </div>
            <div class="form-group">
                <admin-label asp-for="StoreId" />
                <div class="col-md-9 col-sm-9">
                    <admin-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                    <span asp-validation-for="StoreId"></span>
                </div>
            </div>
        </div>
    </div>
</div>