@model SlideModel
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="slide-edit">
    <items>
        <tabstrip-item text="@T("Plugins.Widgets.Slider.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo.cshtml" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Plugins.Widgets.Slider.Stores")" tab-index="1">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
    </items>
</admin-tabstrip>