@model ManufacturerModel
<script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.LimitedToStores)").click(toggleStoreMapping);
            toggleStoreMapping();
        });
        function toggleStoreMapping() {
            if ($('#@Html.FieldIdFor(model => model.LimitedToStores)').is(':checked')) {
                $('#pnl-available-stores').show();
            }
            else {
                $('#pnl-available-stores').hide();
            }
        }

</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="LimitedToStores" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="LimitedToStores" />
                    <span></span>
                </label>
                <span asp-validation-for="LimitedToStores"></span>
            </div>
        </div>
        <div class="form-group" id="pnl-available-stores">
            <admin-label asp-for="AvailableStores" />
            <div class="col-md-9 col-sm-9">
                @if (Model.AvailableStores != null && Model.AvailableStores.Count > 0)
                {
                    @await Component.InvokeAsync("CommonMultistoreDisabledWarning")
                    <div class="mt-checkbox-list">
                        @foreach (var store in Model.AvailableStores)
                        {
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" name="SelectedStoreIds" value="@store.Id" checked="@(Model.SelectedStoreIds != null && Model.SelectedStoreIds.Contains(store.Id))" />@store.Name
                                <span></span>
                            </label>
                        }
                    </div>
                }
                else
                {
                    <div class="note note-info">
                        No stores defined
                    </div>
                }
            </div>
        </div>
    </div>
</div>