@model CustomerUserSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="ExternalAuthenticationSettings.AutoRegisterEnabled" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="ExternalAuthenticationSettings.AutoRegisterEnabled" />
                    <span></span>
                </label>
                <span asp-validation-for="ExternalAuthenticationSettings.AutoRegisterEnabled"></span>
            </div>
        </div>
    </div>
</div>