@model CustomerUserSettingsModel
@using Grand.Core.Domain.Customers;

<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.CustomerSettings.AllowCustomersToUploadAvatars)").click(toggleAvatar);
        $("#@Html.FieldIdFor(model => model.CustomerSettings.UsernamesEnabled)").click(toggleUsername);


        toggleAvatar();
        toggleUsername();
    });

    function toggleAvatar() {
        if ($('#@Html.FieldIdFor(model => model.CustomerSettings.AllowCustomersToUploadAvatars)').is(':checked')) {
            $('#pnlDefaultAvatarEnabled').show();
        }
        else {
            $('#pnlDefaultAvatarEnabled').hide();
        }
    }

    function toggleUsername() {
        if ($('#@Html.FieldIdFor(model => model.CustomerSettings.UsernamesEnabled)').is(':checked')) {
            $('#pnlAllowUsersToChangeUsernames').show();
            $('#pnlCheckUsernameAvailability').show();
        }
        else {
            $('#pnlAllowUsersToChangeUsernames').hide();
            $('#pnlCheckUsernameAvailability').hide();
        }
    }
</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.UsernamesEnabled" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.UsernamesEnabled" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.UsernamesEnabled"></span>
            </div>
        </div>
        <div class="form-group" id="pnlAllowUsersToChangeUsernames">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.AllowUsersToChangeUsernames" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.AllowUsersToChangeUsernames" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.AllowUsersToChangeUsernames"></span>
            </div>
        </div>
        <div class="form-group" id="pnlCheckUsernameAvailability">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.CheckUsernameAvailabilityEnabled" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.CheckUsernameAvailabilityEnabled" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.CheckUsernameAvailabilityEnabled"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.UserRegistrationType" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-select asp-for="CustomerSettings.UserRegistrationType" asp-items="((UserRegistrationType)Model.CustomerSettings.UserRegistrationType).ToSelectList()" />
                <span asp-validation-for="CustomerSettings.UserRegistrationType"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.AllowCustomersToUploadAvatars" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.AllowCustomersToUploadAvatars" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.AllowCustomersToUploadAvatars"></span>
            </div>
        </div>
        <div class="form-group" id="pnlDefaultAvatarEnabled">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.DefaultAvatarEnabled" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.DefaultAvatarEnabled" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.DefaultAvatarEnabled"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.ShowCustomersLocation" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.ShowCustomersLocation" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.ShowCustomersLocation"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.ShowCustomersJoinDate" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.ShowCustomersJoinDate" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.ShowCustomersJoinDate"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.AllowViewingProfiles" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.AllowViewingProfiles" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.AllowViewingProfiles"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.AllowUsersToDeleteAccount" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.AllowUsersToDeleteAccount" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.AllowUsersToDeleteAccount"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.AllowUsersToExportData" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.AllowUsersToExportData" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.AllowUsersToExportData"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.NotifyNewCustomerRegistration" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.NotifyNewCustomerRegistration" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.NotifyNewCustomerRegistration"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.HideDownloadableProductsTab" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.HideDownloadableProductsTab" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.HideDownloadableProductsTab"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.HideBackInStockSubscriptionsTab" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.HideBackInStockSubscriptionsTab" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.HideBackInStockSubscriptionsTab"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.CustomerNameFormat" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-select asp-for="CustomerSettings.CustomerNameFormat" asp-items="((CustomerNameFormat)Model.CustomerSettings.CustomerNameFormat).ToSelectList()" />
                <span asp-validation-for="CustomerSettings.CustomerNameFormat"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.DefaultPasswordFormat" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-select asp-for="CustomerSettings.DefaultPasswordFormat" asp-items="((PasswordFormat)Model.CustomerSettings.DefaultPasswordFormat).ToSelectList()" />
                <span asp-validation-for="CustomerSettings.DefaultPasswordFormat"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.PasswordMinLength" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="CustomerSettings.PasswordMinLength" />
                <span asp-validation-for="CustomerSettings.PasswordMinLength"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.PasswordLifetime" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="CustomerSettings.PasswordLifetime" />
                <span asp-validation-for="CustomerSettings.PasswordLifetime"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.UnduplicatedPasswordsNumber" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="CustomerSettings.UnduplicatedPasswordsNumber" />
                <span asp-validation-for="CustomerSettings.UnduplicatedPasswordsNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.PasswordRecoveryLinkDaysValid" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="CustomerSettings.PasswordRecoveryLinkDaysValid" />
                <span asp-validation-for="CustomerSettings.PasswordRecoveryLinkDaysValid"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.FailedPasswordAllowedAttempts" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="CustomerSettings.FailedPasswordAllowedAttempts" />
                <span asp-validation-for="CustomerSettings.FailedPasswordAllowedAttempts"></span>
                <script type="text/javascript">
	                $(document).ready(function () {
	                    $("#@Html.FieldIdFor(model => model.CustomerSettings.FailedPasswordAllowedAttempts)").blur(toggleFailedPasswordAllowedAttempts);
			                toggleFailedPasswordAllowedAttempts();
		                });

		                function toggleFailedPasswordAllowedAttempts() {
		                    var failedPasswordAllowedAttempts = $("#@Html.FieldIdFor(model => model.CustomerSettings.FailedPasswordAllowedAttempts)").data("kendoNumericTextBox");
			                if (failedPasswordAllowedAttempts.value($("#value").val()) > 0) {
				                $('#pnlFailedPasswordLockoutMinutes').show();
			                } else {
				                $('#pnlFailedPasswordLockoutMinutes').hide();
			                }
		                }
                </script>
            </div>
        </div>
        <div class="form-group" id="pnlFailedPasswordLockoutMinutes">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.FailedPasswordLockoutMinutes" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-input asp-for="CustomerSettings.FailedPasswordLockoutMinutes" />
                <span asp-validation-for="CustomerSettings.FailedPasswordLockoutMinutes"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.HideNewsletterBlock" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.HideNewsletterBlock" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.HideNewsletterBlock"></span>
            </div>
        </div>
        <div class="form-group" id="pnlNewsletterBlockAllowToUnsubscribe">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.NewsletterBlockAllowToUnsubscribe" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.NewsletterBlockAllowToUnsubscribe" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.NewsletterBlockAllowToUnsubscribe"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.RegistrationFreeShipping" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.RegistrationFreeShipping" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.RegistrationFreeShipping"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="CustomerSettings.StoreLastVisitedPage" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="CustomerSettings.StoreLastVisitedPage" />
                    <span></span>
                </label>
                <span asp-validation-for="CustomerSettings.StoreLastVisitedPage"></span>
            </div>
        </div>
    </div>
</div>