@model CustomerUserSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="DateTimeSettings.AllowCustomersToSetTimeZone" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    <admin-input asp-for="DateTimeSettings.AllowCustomersToSetTimeZone" />
                    <span></span>
                </label>
                <span asp-validation-for="DateTimeSettings.AllowCustomersToSetTimeZone"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                <admin-label asp-for="DateTimeSettings.DefaultStoreTimeZoneId" class="control-label" />
            </div>
            <div class="col-md-8 col-sm-8">
                <admin-select asp-for="DateTimeSettings.DefaultStoreTimeZoneId" asp-items="Model.DateTimeSettings.AvailableTimeZones" />
                <span asp-validation-for="DateTimeSettings.DefaultStoreTimeZoneId"></span>
            </div>
        </div>
    </div>
</div>
