@model GeneralCommonSettingsModel

<div class="form-horizontal">
    <div class="form-body"></div>
    <div class="note note-info">
        @if (Model.FullTextSettings.Enabled)
            {
            @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.CurrenlyEnabled")
        }
        else
        {
            @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.CurrenlyDisabled")
        }
    </div>
    <div class="form-group">
        <div class="">
            <input type="submit" name="togglefulltext" value="@(Model.FullTextSettings.Enabled ? T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.Disable").Text : T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.Enable").Text)" class="btn red" />
        </div>
    </div>
</div>