@model Grand.Web.Areas.Admin.Models.PushNotifications.ConfigurationModel
@{
    //page title
    ViewBag.Title = T("Admin.PushNotifications").Text;
}
<form asp-area="Admin" asp-controller="Setting" asp-action="PushNotifications" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>
                        @T("Admin.PushNotifications")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="alert alert-info">
                                <p>@T("Admin.Configuration.Settings.PushNotifications.PushNotifications.Info")</p>
                            </div>
                            <div class="alert alert-danger">
                                <p>@T("Admin.Configuration.Settings.PushNotifications.PushNotifications.Warning")</p>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="Enabled" />
                                <div class="col-md-9">
                                    <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                                        <admin-input asp-for="Enabled" />
                                         <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="PrivateApiKey" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="PrivateApiKey" />
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="PushApiKey" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="PushApiKey" />
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="AuthDomain" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="AuthDomain" />
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="DatabaseUrl" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="DatabaseUrl" />
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="ProjectId" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="ProjectId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="StorageBucket" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="StorageBucket" />
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="SenderId" />
                                <div class="col-md-9 col-sm-9">
                                    <admin-input asp-for="SenderId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <admin-label asp-for="AllowGuestNotifications" />
                                <div class="col-md-9">
                                    <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                                        <admin-input asp-for="AllowGuestNotifications" />
                                         <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>