@model CustomerReportsModel

@{
    //page title
    ViewBag.Title = T("Admin.Reports.Customers").Text;
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption level-caption">
                    <i class="fa fa-bar-chart-o"></i>
                    @T("Admin.Reports.Customers")
                </div>
            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="x_content">
                            <admin-tabstrip name="customer-reports">
                                <items>
                                    <tabstrip-item text="@T("Admin.Reports.Customers.BestBy.BestByOrderTotal")" tab-index="0">
                                        <content>
                                            <div>
                                                <partial name="Customer.TabBestByOrderTotal" model="Model" />
                                            </div>
                                        </content>
                                    </tabstrip-item>
                                    <tabstrip-item text="@T("Admin.Reports.Customers.BestBy.BestByNumberOfOrders")" tab-index="1">
                                        <content>
                                            <div>
                                                <partial name="Customer.TabBestByNumberOfOrders" model="Model" />
                                            </div>
                                        </content>
                                    </tabstrip-item>
                                    <tabstrip-item text="@T("Admin.Reports.Customers.RegisteredCustomers")" tab-index="2">
                                        <content>
                                            <div>
                                                <partial name="Customer.TabRegisteredCustomers" model="Model" />
                                            </div>
                                        </content>
                                    </tabstrip-item>
                                    <vc:admin-widget widget-zone="reports_details_tabs" additional-data="Model" />
                                </items>
                            </admin-tabstrip>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
