@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_ConfigurePlugin";
    pagebuilder.AddCssFileParts("~/Plugins/Feed.GoogleShopping/Content/styles.css");
}
@model FeedGoogleShoppingModel
@using Grand.Plugin.Feed.GoogleShopping.Models;
@using Grand.Framework;
@using Grand.Framework.UI;
<form asp-controller="FeedGoogleShopping" asp-action="Configure" method="post">

    <admin-tabstrip name="googlebase-configure">
        <items>
            <tabstrip-item text="@T("Plugins.Feed.GoogleShopping.General")" tab-index="0">
                <content>
                    <div>
                        <partial name="TabGeneral.Configure.cshtml" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@T("Plugins.Feed.GoogleShopping.Override")" tab-index="1">
                <content>
                    <div>
                        <partial name="TabOverride.Configure.cshtml" />
                    </div>
                </content>
            </tabstrip-item>
        </items>
    </admin-tabstrip>
</form>