@model WarehouseModel
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Name" />
        <div class="col-md-9 col-sm-9">
            <admin-input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group">
        <admin-label asp-for="AdminComment" />
        <div class="col-md-9 col-sm-9">
            <admin-textarea asp-for="AdminComment"></admin-textarea>
            <span asp-validation-for="AdminComment"></span>
        </div>
    </div>
    <div class="form-group">
        <admin-input asp-for="Address" asp-template="Address" />
    </div>
    </div>
</div>
