@model PickupPointModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Shipping.PickupPoints.AddNew").Text;
}
<form asp-area="Admin" asp-controller="Shipping" asp-action="CreatePickupPoint" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>
                        @T("Admin.Configuration.Shipping.PickupPoints.AddNew")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Configuration.Shipping.PickupPoints.BackToList").Text, "PickupPoints")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdatePickupPoint" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>