@model ShoppingCartModel
@using Grand.Web.Models.Checkout
@using Grand.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Cart})
}
<div class="page shopping-cart-page">
        <h2 class="generalTitle text-sm-center mt-3">@T("ShoppingCart")</h2>
    <div class="page-body">
        @Html.Partial("OrderSummary", Model)
    </div>
</div>
