@model ForumModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="ForumGroupId" />
            <div class="col-md-9 col-sm-9">
                <admin-select asp-for="ForumGroupId" asp-items="@{new SelectList(Model.ForumGroups, "Id", "Name")}" />
                <span asp-validation-for="ForumGroupId"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Description" />
            <div class="col-md-9 col-sm-9">
                <admin-textarea asp-for="Description"></admin-textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="DisplayOrder" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </div>
</div>
