@model InteractiveFormAttributeModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="FormId" type="hidden" />
<admin-tabstrip name="attribute-edit">
    <items>
        <tabstrip-item text="@T("Admin.Promotions.InteractiveForms.Attribute.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdateAttribute.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.InteractiveForms.Attribute.Values")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdateAttribute.TabValues" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="interactiveform_attribute_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
