<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" grandResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" grandResource="Admin.Dashboard" controller="Home" action="Index" IconClass="icon-home">
      <siteMapNode SystemName="Dashboard" grandResource="Admin.Dashboard" controller="Home" action="Index" IconClass="icon-bar-chart"/>
      <siteMapNode SystemName="Dashboard" grandResource="Admin.Dashboard.Statistics" controller="Home" action="Statistics" PermissionNames="ManageReports" IconClass="icon-bulb"/>
    </siteMapNode>
    <siteMapNode SystemName="Catalog" grandResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProducts,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Products" grandResource="Admin.Catalog.Products.Manage" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Categories" grandResource="Admin.Catalog.Categories" controller="Category" PermissionNames="ManageCategories" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Manufacturers" grandResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Bulk edit products" grandResource="Admin.Catalog.BulkEdit" PermissionNames="ManageProducts" controller="Product" action="BulkEdit" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Product reviews" grandResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Product tags" grandResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="ProductTags" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Attributes" grandResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Products attributes" grandResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Specification attributes" grandResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Checkout attributes" grandResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Contact attributes" grandResource="Admin.Catalog.Attributes.ContactAttributes" controller="ContactAttribute" action="List" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Sales" grandResource="Admin.Sales" PermissionNames="ManageOrders,ManageShipments,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts,ManageOrderTags" IconClass="icon-basket">
      <siteMapNode SystemName="Orders" grandResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipments" grandResource="Admin.Orders.Shipments.List" PermissionNames="ManageShipments" controller="Shipment" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Return requests" grandResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Gift cards" grandResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Shopping carts and wishlists" grandResource="Admin.CurrentCartWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Recurring payments" grandResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="OrderTags" grandResource="Admin.Orders.OrderTags" PermissionNames="ManageOrderTags" controller="OrderTags" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Customers" grandResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageVendorReviews, ManageActivityLog, ManageCustomerRoles, ManageDocuments, ManageAffiliates" IconClass="icon-users" >
      <siteMapNode SystemName="Customers" grandResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Customer roles" grandResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomerRoles" controller="CustomerRole" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Customer tags" grandResource="Admin.Customers.CustomerTags" PermissionNames="ManageCustomers" controller="CustomerTag" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Online customers" grandResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Vendors" grandResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Vendor reviews" grandResource="Admin.VendorReviews" PermissionNames="ManageVendorReviews" controller="VendorReview" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Affiliates" grandResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Documents" grandResource="Admin.Customers.Documents" PermissionNames="ManageDocuments" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Document types" grandResource="Admin.Customers.Document.Type" controller="Document" action="Types" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Document list" grandResource="Admin.Customers.Document.List" controller="Document" action="List" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Activity Log" grandResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Activity Types" grandResource="Admin.Configuration.ActivityLog.ActivityLogType" controller="ActivityLog" action="ListTypes" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Activity Log" grandResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Activity Stats" grandResource="Admin.Configuration.ActivityLog.ActivityStats" controller="ActivityLog" action="ListStats" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Promotions" grandResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts, ManageActions, ManageReminders, ManagePushNotifications, ManageBanners, ManageInteractiveForms" IconClass="icon-bulb">
      <siteMapNode SystemName="Newsletter" grandResource="Admin.Promotions.Newsletter" PermissionNames="ManageCampaigns, ManageNewsletterSubscribers" IconClass="fa fa-dot-circle-o">
        <siteMapNode SystemName="Campaigns" grandResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Newsletter categories" grandResource="Admin.Promotions.NewsletterCategory" PermissionNames="ManageNewsletterSubscribers" controller="NewsletterCategory" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Newsletter subscriptions" grandResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Discounts" grandResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Customer actions" grandResource="Admin.Customers.CustomerActions" PermissionNames="ManageActions, ManageBanners, ManageInteractiveForms" IconClass="fa fa-dot-circle-o">
        <siteMapNode SystemName="Customer action type" grandResource="Admin.Customers.Actiontype" PermissionNames="ManageActions" controller="CustomerActionType" action="ListTypes" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Customer actions" grandResource="Admin.Customers.CustomerActions" PermissionNames="ManageActions" controller="CustomerAction" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Banners" grandResource="Admin.Promotions.Banners" PermissionNames="ManageBanners" controller="Banner" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="InteractiveForms" grandResource="Admin.Promotions.InteractiveForms" PermissionNames="ManageInteractiveForms" controller="InteractiveForm" action="List" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Customer reminders" grandResource="Admin.Customers.CustomerReminders" PermissionNames="ManageReminders" controller="CustomerReminder" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="PushNotifications" grandResource="Admin.PushNotifications" PermissionNames="ManagePushNotifications" controller="PushNotifications" IconClass="fa fa-dot-circle-o">
        <siteMapNode SystemName="PushNotifications" grandResource="Admin.PushNotifications.Send" PermissionNames="ManagePushNotifications" controller="PushNotifications" action="Send" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="PushNotifications" grandResource="Admin.PushNotifications.Messages" PermissionNames="ManagePushNotifications" controller="PushNotifications" action="Messages" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="PushNotifications" grandResource="Admin.PushNotifications.Receivers" PermissionNames="ManagePushNotifications" controller="PushNotifications" action="Receivers" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" grandResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates, ManageKnowledgebase, ManageInteractiveForms, ManageCourses" IconClass="icon-layers">
      <siteMapNode SystemName="Topics" grandResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Message templates" grandResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Polls" grandResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="News" grandResource="Admin.ContentManagement.News" PermissionNames="ManageNews" controller="News" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Blog" grandResource="Admin.ContentManagement.Blog" PermissionNames="ManageBlog" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Blog categories" grandResource="Admin.ContentManagement.Blog.BlogCategories" controller="Blog" action="CategoryList" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Blog posts" grandResource="Admin.ContentManagement.Blog.BlogPosts" controller="Blog" action="List" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Blog comments" grandResource="Admin.ContentManagement.Blog.Comments" controller="Blog" action="Comments" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Manage forums" grandResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Knowledgebase" grandResource="Admin.ContentManagement.Knowledgebase" PermissionNames="ManageKnowledgebase" controller="Knowledgebase" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Course" grandResource="Admin.ContentManagement.Course" PermissionNames="ManageCourses" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Course level" grandResource="Admin.ContentManagement.Course.Level" controller="Course" action="Level" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Manage courses" grandResource="Admin.ContentManagement.Course.Manage" controller="Course" action="List" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Reports" grandResource="Admin.Reports" PermissionNames="ManageReports, ManageCustomers" IconClass="icon-bar-chart">
      <siteMapNode SystemName="Low stock report" grandResource="Admin.Reports.LowStockReport" PermissionNames="ManageReports" controller="Reports" action="LowStockReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Bestsellers" grandResource="Admin.Reports.Bestsellers" PermissionNames="ManageReports" controller="Reports" action="BestsellersReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Products never purchased" grandResource="Admin.Reports.NeverSold" PermissionNames="ManageReports" controller="Reports" action="NeverSoldReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Country report" grandResource="Admin.Reports.Country" PermissionNames="ManageReports, ManageCustomers" AllPermissions="true" controller="Reports" action="CountryReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Customer reports" grandResource="Admin.Reports.Customers" PermissionNames="ManageReports, ManageCustomers" AllPermissions="true" controller="Reports" action="Customer" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" grandResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins,ManageWidgets,ManageStores"
       IconClass="icon-wrench">
      <siteMapNode SystemName="Settings" grandResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="General and common settings" grandResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Catalog settings" grandResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Customer and user settings" grandResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Shopping cart settings" grandResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Order settings" grandResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Media settings" grandResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media"  IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Tax settings" grandResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Shipping settings" grandResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Reward points" grandResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Blog settings" grandResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="News settings" grandResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Forums settings" grandResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Vendor settings" grandResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Push notifications settings" grandResource="Admin.Configuration.Settings.PushNotifications" controller="Setting" action="PushNotifications" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Admin search settings" grandResource="Admin.Configuration.Settings.AdminSearch" controller="Setting" action="AdminSearch" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="All settings (settings)" grandResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Stores" grandResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Countries" grandResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Languages" grandResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Currencies" grandResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Measures" grandResource="Admin.Configuration.Measures" PermissionNames="ManageMeasures" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Units" grandResource="Admin.Configuration.Measures.Units" controller="Measure" action="Units" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Weights" grandResource="Admin.Configuration.Measures.Weights" controller="Measure" action="Weights" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Dimensions" grandResource="Admin.Configuration.Measures.Dimensions" controller="Measure" action="Dimensions" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="EmailAccounts" grandResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Payment" grandResource="Admin.Configuration.Payment" PermissionNames="ManagePaymentMethods" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Payment methods" grandResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Payment method restrictions" grandResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="ManagePaymentMethods" controller="Payment" action="MethodRestrictions" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Tax" grandResource="Admin.Configuration.Tax" PermissionNames="ManageTaxSettings" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Tax providers" grandResource="Admin.Configuration.Tax.Providers" controller="Tax" action="Providers" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Tax categories" grandResource="Admin.Configuration.Tax.Categories" controller="Tax" action="Categories" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Shipping" grandResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Shipping providers" grandResource="Admin.Configuration.Shipping.Providers" controller="Shipping" action="Providers" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Shipping methods" grandResource="Admin.Configuration.Shipping.Methods" controller="Shipping" action="Methods" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Shipping method restrictions" grandResource="Admin.Configuration.Shipping.Restrictions" controller="Shipping" action="Restrictions" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Delivery dates" grandResource="Admin.Configuration.Shipping.DeliveryDates" controller="Shipping" action="DeliveryDates" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Warehouses" grandResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="PickupPoints" grandResource="Admin.Configuration.Shipping.PickupPoints" controller="Shipping" action="PickupPoints" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Access control list" grandResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="External authentication methods" grandResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Widgets" grandResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Local plugins" grandResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="System" grandResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMessageContactForm,ManageMaintenance,ManageScheduleTasks" IconClass="icon-settings">
      <siteMapNode SystemName="Log" grandResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" grandResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Contact Us form" grandResource="Admin.System.ContactForm" PermissionNames="ManageMessageContactForm" controller="ContactForm" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" grandResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" grandResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" grandResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="System information" grandResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" grandResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Developer tools" grandResource="Admin.System.DeveloperTools" PermissionNames="ManageMaintenance" IconClass="fa fa-dot-circle-o">
        <siteMapNode SystemName="Manage API Users" grandResource="Admin.System.APIUsers" PermissionNames="ManageMaintenance" controller="ApiUser" action="Index" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Roslyn compiler" grandResource="Admin.System.Roslyn" PermissionNames="ManageMaintenance" controller="Common" action="Roslyn" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Query editor" grandResource="Admin.System.QueryEditor" PermissionNames="ManageMaintenance" controller="Common" action="QueryEditor" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Custom css" grandResource="Admin.System.CustomCss" PermissionNames="ManageMaintenance" controller="Common" action="CustomCss" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Custom JS" grandResource="Admin.System.CustomJs" PermissionNames="ManageMaintenance" controller="Common" action="CustomJs" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Robot.txt" grandResource="Admin.System.CustomRobotsTxt" PermissionNames="ManageMaintenance" controller="Common" action="CustomRobotsTxt" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Templates" grandResource="Admin.System.Templates" PermissionNames="ManageMaintenance" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Category templates" grandResource="Admin.System.Templates.Category" controller="Template" action="CategoryTemplates" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Manufacturer templates" grandResource="Admin.System.Templates.Manufacturer" controller="Template" action="ManufacturerTemplates" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Product templates" grandResource="Admin.System.Templates.Product" controller="Template" action="ProductTemplates" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Topic templates" grandResource="Admin.System.Templates.Topic" controller="Template" action="TopicTemplates" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Help" grandResource="Admin.Help" IconClass="icon-question">
      <siteMapNode SystemName="Community forums" grandResource="Admin.Help.Forums" url="https://grandnode.com/boards?utm_source=web&amp;utm_medium=admin&amp;utm_term=web&amp;utm_campaign=Community" IconClass="fa fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" grandResource="Admin.Help.SupportServices" url="https://grandnode.com/support-service?utm_source=web&amp;utm_medium=admin&amp;utm_term=web&amp;utm_campaign=Support" IconClass="fa fa-dot-circle-o" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" grandResource="Admin.Plugins" />
  </siteMapNode>
</siteMap>

