@using Grand.Core.Infrastructure
@using Grand.Framework.Themes
@{
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.GrandTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link href="@Url.Content(string.Format("~/Themes/{0}/Content/css/print.css", themeName))" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/jquery-3.3.1.min.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
