@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
@await Html.PartialAsync("_Notifications")
@await Component.InvokeAsync("JavaScriptDisabledWarning")
@await Html.PartialAsync("OldInternetExplorerWarning")
<div class="container">
    @await Html.PartialAsync("Header")
    <nav class="navbar navbar-expand-md bg-dark container mainNav d-none d-lg-flex mb-1 pl-0 pr-0">
        <div class="collapse navbar-collapse" id="collapsing-navbar-2">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync("TopMenu")
            </ul>
        </div>
    </nav>
    @await Component.InvokeAsync("Widget", new { widgetZone = "content_before"})
    @if (IsSectionDefined("Breadcrumb"))
    {
        @RenderSection("Breadcrumb")
    }
    @RenderBody()
    @await Component.InvokeAsync("Widget", new { widgetZone = "content_after" })
</div>
@await Component.InvokeAsync("Footer")
<script>
    AjaxCart.init('.header-links .cart-qty', '.header-links .wishlist-qty', '.flyout-cart');
</script>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
