<header>
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <nav class="navbar fixed-top navbar-light bg-faded navUp p-0">
        <div class="collapse btn-toolbar generalDropDown" id="generalDropDown">
        </div>
        <div class="container">
            <ul class="nav navbar-nav header-links pl-0 flex-row">
                <li class="nav-item float-xs-right hidden-md-up mr-auto">
                    <a class="btn btn-outlined-info general-opener" data-toggle="collapse" aria-expanded="false" aria-controls="generalDropDown">
                        <span class="fa fa-cogs" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="nav-item float-xs-right hidden-sm-down mr-auto">
                    <div class="generalDropDown btn-toolbar float-xs-right ">
                        <div class="settingSellector">
                            @await Component.InvokeAsync("TaxTypeSelector")
                            @await Component.InvokeAsync("CurrencySelector")
                            @await Component.InvokeAsync("LanguageSelector")
                        </div>
                    </div>
                </li>
                @await Component.InvokeAsync("HeaderLinks")
            </ul>
        </div>
    </nav>
    <div class="headBottom d-md-inline-flex d-sm-grid text-md-left text-center mt-3 mb-3">
        <div class="col header-logo pr-0 pl-0">
            @await Component.InvokeAsync("Logo")
        </div>
        <div class="col formSearch pr-0 pl-0">
            @await Component.InvokeAsync("SearchBox")
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".settingSellector").appendTo(".generalDropDown");
        });
    </script>
</header>