<header role="presentation">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <nav class="navbar fixed-top navbar-light navUp mobile-top p-0" role="navigation">
        <ul class="mobile-top-menu container px-2 px-sm-0 d-lg-none d-flex mb-0">
            <li class="logo-mobile"></li>
            <li class="nav-item d-flex align-items-center d-lg-none mobile-search" data-toggle="modal" data-target="#searchModal">
                <a class="nav-link">
                    <span class="material-icons mat">
                        search
                    </span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav header-links flex-row container px-lg-3 px-0">
            <li class="nav-item col d-lg-none d-flex menu-open-button">
                <a class="js-offcanvas-trigger nav-link" data-offcanvas-trigger="left" href="#left">
                    <div id="mobile-menu-opener"><span></span><span></span><span></span></div>
                    <span class="d-lg-none d-block text-muted mobile-desc">@T("Mobile.Menu")</span>
                </a>
            </li>
            <li class="nav-item float-xs-right mr-auto dropdowns-container">
                <div class="generalDropDown btn-toolbar float-xs-right">
                    @await Component.InvokeAsync("TaxTypeSelector")
                    @await Component.InvokeAsync("CurrencySelector")
                    @await Component.InvokeAsync("LanguageSelector")
                    @await Component.InvokeAsync("StoreSelector")
                    @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
                </div>
            </li>
            @await Component.InvokeAsync("HeaderLinks")
        </ul>
    </nav>
    <div class="container">
        <div class="headBottom d-flex align-items-center d-lg-inline-flex text-lg-left text-center mt-0 mb-0">
            <div class="header-logo pr-0 pl-0 d-lg-block d-none">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="col-lg-6 col formSearch ml-auto pr-0 d-none d-lg-block">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
    </div>
</header>
