@model NewsletterCategoryModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="newslettercategory-edit">
    <items>
        <tabstrip-item text="@T("Admin.Promotions.NewsletterCategory.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.Promotions.NewsletterCategory.Stores")" tab-index="1">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
    </items>
</admin-tabstrip>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "newslettercategory-edit");
    await eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        <admin-tab-append tab-strip-name="newslettercategory-edit" tab-name="@eventBlock.tabname" tab-content="@eventBlock.content" />
    }
}