@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <div class="compare-products">
        <button class="btn waves-effect waves-light" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">
            <i class="material-icons">repeat</i>
        </button>
    </div>
}