@inject AdminAreaSettings adminAreaSettings
@model ShoppingCartModel
@inject IEventPublisher eventPublisher
@{
    //page title
    ViewBag.Title = T("Admin.CurrentCartWishlists").Text;
}
<antiforgery-token />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cart-plus"></i>
                    @T("Admin.CurrentCartWishlists")
                </div>
                <vc:admin-widget widget-zone="current_shopping_cart_list_buttons" additional-data="null" />
            </div>
            <div class="portlet-body form">
                <div id="shoppingcarts-list" style="display:none">
                    <ul>
                        <li tab-index="0">
                            @T("Admin.CurrentCarts")
                        </li>
                        <li tab-index="1">
                            @T("Admin.CurrentWishlists")
                        </li>
                    </ul>
                    <div>
                       <partial name="_CurrentCarts.TabCurrentCarts" model="Model" />
                    </div>
                    <div>
                       <partial name="_CurrentCarts.TabCurrentWishlists" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var tabPos = 'top';
        if (window.devicePixelRatio == 2)
            tabPos = 'top';

        $('#shoppingcarts-list').show();
        $("#shoppingcarts-list").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            tabPosition: tabPos,
            select: tabstrip_on_tab_select
        });
    });
</script>