@model LogoModel
<div class="store-logo mb-0">
        <a href="@Url.RouteUrl("HomePage")">
            <img class="img-fluid" title="" alt="@Model.StoreName" src="@Model.LogoPath">
            <span class="sr-only">@T("admin.configuration.shipping.providers.fields.logo")</span>
        </a>
</div>