@model CategoryModel
@if (Model.AvailableDiscounts != null && Model.AvailableDiscounts.Count > 0)
{
    <div class="mt-checkbox-list">
        @foreach (var discount in Model.AvailableDiscounts)
        {
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="SelectedDiscountIds" value="@discount.Id"
                       @if (Model.SelectedDiscountIds != null && Model.SelectedDiscountIds.Contains(discount.Id)) { <text> checked="checked" </text>         } />@discount.Name
                    <span></span>
                </label>
        }
    </div>
}
else
{
    <div class="note note-info">
        @T("Admin.Catalog.Categories.Discounts.NoDiscounts")
    </div>
}