@model ProductModel
@using Grand.Core.Domain.Catalog
@if (!String.IsNullOrEmpty(Model.Id))
{
    if (Model.AvailableProductAttributes.Count > 0)
    {
        <script>
            $(document).ready(function () {
                $("#productattribute-edit").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    }
                });
            });
        </script>
        <div id="productattribute-edit">
            <ul>
                <li class="k-state-active">
                    @T("Admin.Catalog.Products.ProductAttributes.Attributes")
                </li>
                <li>
                    @T("Admin.Catalog.Products.ProductAttributes.AttributeCombinations")
                </li>
            </ul>
            <div>
               <partial name="_CreateOrUpdate.ProductAttributes.TabAttributes" model="Model" />
            </div>
            <div>
               <partial name="_CreateOrUpdate.ProductAttributes.TabAttributeCombinations" model="Model" />
            </div>
        </div>
    }
    else
    {
        <div class="note note-info">
            @T("Admin.Catalog.Products.ProductAttributes.NoAttributesAvailable")
        </div>
    }
}
else
{
    <div class="note note-info">
        @T("Admin.Catalog.Products.ProductAttributes.SaveBeforeEdit")
    </div>
}