@model ReturnRequestModel
<div class="form-horizontal">
    <div class="form-body">
        @if (Model.PickupAddress != null)
        {
            <div class="form-group">
                <admin-label asp-for="PickupAddress" />
                <br />
                <admin-input asp-for="PickupAddress" asp-template="Address" />
            </div>
        }
    </div>
</div>