@model ShoppingCartLinksModel

@if (Model.WishlistEnabled)
{
    <b-nav-item href="@Url.RouteUrl("Wishlist")"><b-icon icon="heart" variant="dark"></b-icon><div class="qty-indicator wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</div></b-nav-item>
}
@if (Model.ShoppingCartEnabled)
{

    @if (Model.MiniShoppingCartEnabled)
    {
        <partial name="FlyoutShoppingCart" />
    }
    else
    {
        <b-nav-item href="@Url.RouteUrl("ShoppingCart")">
            <b-icon icon="cart" variant="dark"></b-icon>
            <div class="qty-indicator cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</div>
        </b-nav-item>
    }
}