@model LanguageSelectorModel
@using Grand.Core;
@using System.Net
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@if (Model.AvailableLanguages.Count > 1)
{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
    <li class="dropdown dropdown-extended dropdown-notification">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-language"></i><span class="username username-hide-on-mobile">
                @Model.AvailableLanguages.FirstOrDefault(x => x.Id == Model.CurrentLanguage.Id).UniqueSeoCode
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
            @foreach (var lang in Model.AvailableLanguages)
            {
                <li>
                    <a href="@webHelper.ModifyQueryString(Url.Action("SetLanguage", "Common", new { langid = lang.Id , area = "Admin"}), "returnurl=" + System.Net.WebUtility.UrlEncode(webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request)), null)">
                        <img src="/content/images/flags/@(lang.FlagImageFileName)" alt="@lang.Name">
                        @lang.Name
                    </a>
                </li>
            }
        </ul>
    </li>
}