@model LanguageSelectorModel
@inject IWebHelper webHelper
@if (Model.AvailableLanguages.Count > 1)
{
    <li class="dropdown dropdown-extended dropdown-notification">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-language"></i><span class="username username-hide-on-mobile">
                @Model.AvailableLanguages.FirstOrDefault(x => x.Id == Model.CurrentLanguage.Id).UniqueSeoCode
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
            @foreach (var lang in Model.AvailableLanguages)
            {
                <li>
                    <a href="@Url.Action("SetLanguage", "Home", new { langid = lang.Id, returnUrl = webHelper.GetRawUrl(Context.Request) })">
                        <img src="/content/images/flags/@(lang.FlagImageFileName)" alt="@lang.Name">
                        @lang.Name
                    </a>
                </li>
            }
        </ul>
    </li>
}