@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
}
<div class="page text-xs-center not-found-page">
        <h2 class="text-xs-center generalTitle">@T("PageTitle.PageNotFound")</h2>
        @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
</div>