@model IList<SystemWarningModel>
@{
    //page title
    ViewBag.Title = T("Admin.System.Warnings").Text;
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption level-caption">
                    <i class="fa fa-tasks"></i>
                    @T("Admin.System.Warnings")
                </div>
                <vc:admin-widget widget-zone="warnings_buttons" additional-data="null" />
            </div>
            <vc:admin-widget widget-zone="warnings_top" additional-data="null" />
            @foreach (var warning in Model)
            {
                switch (warning.Level)
                {
                    case SystemWarningLevel.Pass:
                        {
                            <div class="note note-success">
                                @warning.Text
                            </div>
                        }
                        break;
                    case SystemWarningLevel.Warning:
                        {
                            <div class="note note-warning">
                                @warning.Text
                            </div>
                        }
                        break;
                    case SystemWarningLevel.Fail:
                        {
                            <div class="note note-danger">
                                @warning.Text
                            </div>
                        }
                        break;
                }
            }
            <vc:admin-widget widget-zone="warnings_bottom" additional-data="null" />
        </div>
    </div>
</div>
