@model CustomerModel
@{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="note note-info">
                <p>@T("Admin.Customers.Customers.Impersonate.Description1")</p>
                <p>@T("Admin.Customers.Customers.Impersonate.Description2")</p>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" name="impersonate" class="btn red" value="@T("Admin.Customers.Customers.Impersonate.Button")" />
        </div>
    </div>
}