@model CustomerAddressModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.Addresses.AddNew").Text;
}
<form asp-area="Admin" asp-controller="Customer" asp-action="AddressCreate" method="post">
   
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-user-plus"></i>
                        @T("Admin.Customers.Customers.Addresses.AddNew") 
                        <small>@Html.ActionLink("(" + T("Admin.Customers.Customers.Addresses.BackToCustomer") + ")", "Edit", new { id = Model.CustomerId })</small>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        <vc:admin-widget widget-zone="customer_address_details_buttons" additional-data="null" />
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdateAddress" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>