@model PrivateMessageIndexModel
@{    
    Layout = "_ColumnsOne";
    
    Html.AddTitleParts(T("PageTitle.PrivateMessages").Text);
}
<div class="page private-messages private-messages-page">
    <h2 class="text-xs-center generalTitle">@T("PrivateMessages.PrivateMessages")</h2>
    <div class="tabs inbox-tabs" id="tabs">
        <ul class="nav nav-tabs tabs-header list-inline" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">@T("PrivateMessages.Inbox")</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">@T("PrivateMessages.SentItems")</a></li>
        </ul>
        <div class="tab-content">
            <div id="tabs-1" class="tab-pane active" role="tabpanel">
                @await Component.InvokeAsync("PrivateMessagesInbox", new { pageNumber = Model.InboxPage, tab = "inbox" })
            </div>
            <div id="tabs-2" class="tab-pane" role="tabpanel">
                @await Component.InvokeAsync("PrivateMessagesSentItems", new { pageNumber = Model.SentItemsPage, tab = "sent" })
            </div>
        </div>
    </div>
</div>
