@model PollModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="poll-edit">
    <items>
        <tabstrip-item text="@T("Admin.ContentManagement.Polls.Info")" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Polls.Answers")" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabAnswers" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Polls.Acl")" tab-index="2">
            <content>
                <div>
                    <partial name="_TabAcl" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@T("Admin.ContentManagement.Polls.Stores")" tab-index="3">
            <content>
                <div>
                    <partial name="_TabStores" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="poll_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
