<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <vc:admin-widget widget-zone="security_access_denied_top" additional-data="null" />
            <div class="x_title">
                <div class="caption level-caption">
                    <i class="fa fa-list-alt"></i>
                    @T("Admin.AccessDenied.Title")
                </div>
            </div>
            <div class="x_content form">
                <div class="note note-warning">
                    @T("Admin.AccessDenied.Description")
                </div>
            </div>
            <vc:admin-widget widget-zone="security_access_denied_bottom" additional-data="null" />
        </div>
    </div>
</div>