@model CustomerRoleModel
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="SystemName" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="SystemName" />
                <span asp-validation-for="SystemName"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="FreeShipping" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="FreeShipping" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="FreeShipping"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="TaxExempt" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="TaxExempt" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="TaxExempt"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="Active" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="Active" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="Active"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="EnablePasswordLifetime" />
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="EnablePasswordLifetime" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="EnablePasswordLifetime"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="MinOrderAmount" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="MinOrderAmount" />
                <span asp-validation-for="MinOrderAmount"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="MaxOrderAmount" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="MaxOrderAmount" />
                <span asp-validation-for="MaxOrderAmount"></span>
            </div>
        </div>
        <div class="form-group">
            <admin-label asp-for="IsSystemRole" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label"> @Model.IsSystemRole.ToString()</label>
                <input asp-for="IsSystemRole" type="hidden" />
                <span asp-validation-for="IsSystemRole"></span>
            </div>
        </div>
    </div>
</div>